﻿@using BELibrary.Entity
@using PatientManagement.Handler
@{
    ViewBag.Title = "Sửa trang cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = CookiesManage.GetUser();
    var patient = (Patient)ViewBag.Patient ?? new Patient();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>bs4 edit profile page - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <section class="d-flex align-items-center">
    </section>
    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col-12 col-lg-auto mb-3" style="width: 200px;">               
            </div>

            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <form name="reg-form" class="register-form" method="post" id="frmEdit">
                                        <div class="row">
                                            <div class="col-12 col-sm-auto mb-3" >
                                                <div class="mx-auto" style="width: 140px;">
                                                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                        <div class="doctor-thumb">
                                                            <img src="@(string.IsNullOrEmpty(patient.ImageProfile) ? "/Areas/Admin/Content/img/profile-photos/1.png" : patient.ImageProfile)" height="140px" width="140px" class="img-lg img-circle  w-100" alt="Profile Picture">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@user.FullName</h4>                                            
                                                    <p class="mb-0">28</p>                                                   
                                                    <div class="mt-2">
                                                        <button class="btn btn-primary" type="button">
                                                            <i class="fa fa-fw fa-camera"></i>
                                                            <span>Tải ảnh lên</span>
                                                        </button>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <input type="file" id="file" name="avataUpload">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tổng quan</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cập nhật mật khẩu</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="tab-content pt-3">
                                                        <div class="tab-pane active">

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label> Tên tài khoản </label>
                                                                                <input id="form_choose_username" name="Username" class="form-control" type="text" required disabled value="@user.UserName">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Họ tên</label>
                                                                                <input class="form-control" type="text" name="FullName" placeholder="@user.FullName" value="@user.FullName">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Giới tính</label>
                                                                                <select name="Gender" class="form-control" required value="@user.Gender.ToString()">
                                                                                    <option>---- Lựa chọn ----</option>
                                                                                    <option value="True" @(user.Gender ? "selected" : "")>Nam</option>
                                                                                    <option value="False" @(!user.Gender ? "selected" : "")>Nữ</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Số điện thoại</label>
                                                                                <input class="form-control" type="text" name="Phone" placeholder="Example: 0234134331" value="@user.Phone">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Email</label>
                                                                                <input class="form-control" type="text" placeholder="nguyenvana@example.com" value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col d-flex justify-content-end">
                                                                    <button class="btn btn-primary" id="btnReg" type="submit">Lưu</button>
                                                                </div>
                                                            </div>                                   
                                                        </div>
                                                </div>
                                            </div>
                                            <!--Update Password-->
                                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                <div class="tab-content pt-3">
                                                    <div class="tab-pane active">
                                                        <form name="editprofile-form" method="post" id="updatePass">
                                                            <div class="row">
                                                                <div class="col-12 col-sm-6 mb-3">
                                                                    <div class="icon-box mb-0 p-0">
                                                                        <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10" style="padding-right: 5px;">
                                                                            <i class="fa fa-key" style=""></i>
                                                                        </a>
                                                                        <h4 class="text-gray pt-10 mt-0 mb-30" style="font-size:large">Thay đổi mật khẩu</h4>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Mật khẩu hiện tại</label>
                                                                                <input name="OldPassword" class="form-control" type="password" placeholder="••••••">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Mật khẩu mới</label>
                                                                                <input name="NewPassword" class="form-control" type="password" placeholder="••••••">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="form-group">
                                                                                <label>Nhập lại <span class="d-none d-xl-inline">mật khẩu</span></label>
                                                                                <input name="RePassword" class="form-control" type="password" placeholder="••••••">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col d-flex justify-content-end">
                                                                    <button class="btn btn-primary" type="submit">Lưu</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 mb-3">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <style type="text/css">
        body {
            margin-top: 20px;
            background: #f8f8f8
        }
    </style>

    <script type="text/javascript">

    </script>
</body>
</html>
@section Scripts {
    <script src="~/Scripts/js/live/edit.account.js"></script>
}