﻿@using PatientManagement.Handler
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = ViewBag.ReturnUrl;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/main.css">
    <!--===============================================================================================-->
    @section CSS {
        <link href="~/Content/plugin/notifyjs/lobibox.min.css" rel="stylesheet" />
    }
</head>
<body style="background-color: #666666;">
    <section class="d-flex align-items-center">
    </section>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" name="login-form" id="frmLogin" autocomplete="off">
                    <span class="login100-form-title p-b-43">
                        ĐĂNG NHẬP
                    </span>


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input id="Username" autocomplete="false" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Tài khoản</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input id="Password" class="input100" autocomplete="false" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Mật khẩu</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Ghi nhớ đăng nhập
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Quên mật khẩu?
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" id="btnLogin" type="submit">
                            ĐĂNG NHẬP
                        </button>
                    </div>

                </form>

                <div class="login100-more" style="background-image: url('/Assets/login/images/loginbenhnhan.jpg'); ">
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/Scripts/js/live/login.client.js"></script>
    }




    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/js/main.js"></script>

</body>
</html>