﻿@using PatientManagement.Handler
@using BELibrary.Entity

@{
    ViewBag.Title = "Trang cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = CookiesManage.GetUser();
}

@model PatientRecord
@{
    var patient = (Patient)ViewBag.Patient ?? new Patient();
    var record = (Record)ViewBag.Record ?? new Record();
    var detailRecordMain = (DetailRecord)ViewBag.DetailRecordMain ?? new DetailRecord();

    var detailRecords = (List<DetailRecord>)ViewBag.DetailRecords ?? new List<DetailRecord>();
    var result = record.Result;
    var note = record.Note;
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">

        <!--  All snippets are MIT license http://bootdey.com/license -->
        <title>user personal information profile - Bootdey.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <section class="d-flex align-items-center">
        </section><!-- End Hero -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">

            <div class="row">
                @if (patient.Id != Guid.Empty)
                {
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="userProfileInfo">
                            <div class="image text-center">
                                <img src="@(string.IsNullOrEmpty(patient.ImageProfile) ? "/Areas/Admin/Content/img/profile-photos/1.png" : patient.ImageProfile)" alt="#" class="img-responsive">
                                <a href="#" title="#" class="editImage">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="box">
                                <div class="name"><strong>@patient.FullName</strong></div>
                                <div style="padding-right:20px;" class="info">
                                    <span>Nghề nghiệp: @patient.Job</span>
                                    <span><i class="fa fa-solid fa-code"></i> @patient.PatientCode</span>
                                    <span><i class="fa fa-solid fa-cake-candles"></i> @patient.DateOfBirth.ToString("dd/MM/yyyy")</span>
                                    <span><i class="fa fa-solid fa-location-dot"></i> @patient.Address</span>
                                    <span><i class="fa fa-solid fa-envelope"></i> <a href="mailto:@patient.Email">@patient.Email</a></span>
                                    <span><i class="fa fa-solid fa-phone"></i> <a href="tel:@patient.Phone">@patient.Phone</a></span>
                                </div>
                                <div class="socialIcons clearfix">
                                    <a href="#" title="#" class="fb">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" title="#" class="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" title="#" class="google-plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                    <!-- Profile Details -->
                    <p class="pad-ver text-main text-sm text-uppercase text-bold">Chưa có thông tin bệnh nhân</p>
                }

                <div class="col-xs-12 col-md-8 col-lg-9">
                    <div class="box">
                        <h2 class="boxTitle">  @Html.DisplayFor(model => model.Title)</h2>
                        <!-- Tabs -->
                        <ul class="nav nav-tabs userProfileTabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab-item-1" aria-controls="tab-item-1" role="tab" data-toggle="tab" aria-expanded="false">Hành chính</a></li>
                            <li role="presentation" class=""><a href="#tab-item-2" aria-controls="tab-item-2" role="tab" data-toggle="tab" aria-expanded="true">Thông tin vào</a></li>
                            <li role="presentation" class=""><a href="#tab-item-3" aria-controls="tab-item-3" role="tab" data-toggle="tab" aria-expanded="false">Thông tin ra</a></li>
                            <li role="presentation" class=""><a href="#tab-item-4" aria-controls="tab-item-4" role="tab" data-toggle="tab" aria-expanded="false">Cận lâm sàng</a></li>
                        </ul>

                        <div class="tab-content">
                            <!-- About -->
                            <div role="tabpanel" class="tab-pane fade active in" id="tab-item-1">
                                <div   class="userProfileContent">
                                    <div class="i">
                                        <a href="#" title="#" class="itemOptions"><i class=" fa fa-solid fa-user"></i></a>
                                        <h5 class="boxHeadline title"><span class="badge badge-success" id="patient-code"> @patient.PatientCode</span> - @patient.FullName</h5>
                                    </div>
                                    <div class="i">
                                        <h5 class="boxHeadline">Giới tính: @(patient.Gender == true ?"Nam":"Nữ")</h5>
                                    </div>
                                    <div class="i">
                                        <h5 class="boxHeadline">Ngày sinh:  @patient.DateOfBirth.ToString("dd/MM/yyyy") -  @(DateTime.Now.Year - patient.DateOfBirth.Year) Tuổi</h5>
                                    </div>
                                    <div class="i">
                                        <h5 class="boxHeadline">Địa chỉ: @patient.Address</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Activities -->
                            <div role="tabpanel" class="tab-pane fade " id="tab-item-2">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Ngày:</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control"
                                               disabled value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                    </div>
                                </div>

                                <!--Password-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Giờ:</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control"
                                               disabled value="@DateTime.Now.ToString("HH:mm ")">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-sm-6 pb-3">
                                        <label for="BloodVessel">Mạch:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">I/P</span></div>
                                            @Html.EditorFor(model => model.BloodVessel,
                                                new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = true, @placeholder = "Chỉ số mạch", @step = "0.01" } })
                                        </div>
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <label for="BloodVessel">Thân nhiệt:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">&#176;C</span></div>
                                            @Html.EditorFor(model => model.BodyTemperature,
                                                new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = true, @placeholder = "Chỉ số thân nhiệt", @step = "0.01" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-sm-6 pb-3">
                                        <label>Nhịp thở:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">&#176;C</span></div>
                                            @Html.EditorFor(model => model.Breathing,
                                                new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = true, @placeholder = "Chỉ số nhịp thở", @step = "0.01" } })
                                        </div>
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <label>BMI:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">I/P</span></div>
                                            <input type="text" class="form-control"
                                                   value="@(Double.IsNaN(Math.Round((Model.Weight / (Model.Height * Model.Height)) * 10000, 2))?0:Math.Round((Model.Weight / (Model.Height * Model.Height)) * 10000, 2)) "
                                                   disabled placeholder="BMI.">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-sm-6 pb-3">
                                        <label>Chiều cao:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">Cm</span></div>
                                            @Html.EditorFor(model => model.Height,
                                                new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = true, @placeholder = "chiều cao", @min = 0, @step = "0.01" } })
                                        </div>
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <label>Nặng:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">Kg</span></div>
                                            @Html.EditorFor(model => model.Weight,
                                                new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "number", @placeholder = "Cân nặng", @min = 0, @step = "0.01" } })
                                        </div>
                                    </div>
                                </div>

                                <!--Readonly Input-->

                                <div class="col-md-12 text-center">
                                    <hr style="width: 100%" />
                                </div>

                                <!--Thị lực-->
                                <div class="form-group">

                                    <label class="col-md-1 control-label"></label>
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Thị Lực</th>
                                                    <th class="text-center">Không kính</th>
                                                    <th class="text-center">Kính lỗ</th>
                                                    <th class="text-center">Có kính</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="td-center">Mắt Trái: </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.VisionWithoutGlassesLeft,
                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "10/10" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.VisionWithGlassHoleLeft,
                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "10/10" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.VisionWithGlassLeft,
                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "10/10" } })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-center">Mắt Phải:</td>
                                                    <td>
                                                        @Html.EditorFor(model => model.VisionWithoutGlassesRight,
                                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "10/10" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.VisionWithGlassHoleRight,
                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "10/10" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.VisionWithGlassRight,
                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "10/10" } })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-center">Nhãn áp P:</td>
                                                    <td>
                                                        @Html.EditorFor(model => model.EyePressureRight,
                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "10/10" } })
                                                    </td>
                                                    <td class="td-center">Nhãn áp T: </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.EyePressureLeft,
                                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "10/10" } })
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Chuẩn đoán Lâm sàng:</label>
                                    <div style="padding-bottom:20px" class="col-md-12">
                                        @Html.TextAreaFor(model => model.ClinicalSymptoms, new { @class = "form-control", @readonly = true, @rows = "4", @placeholder = "Chuẩn đoán lâm sàng", @maxlength = 1000 })
                                    </div>
                                </div>
                                <div style="padding-left:42%;">
                                    <a href="#" title="#" style="color:white" class="btn">Lam moi</a>
                                </div>
                               
                            </div>

                                <!-- Photos -->
                            <div role="tabpanel" class="tab-pane fade" id="tab-item-3">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Chuẩn đoán 2 mắt:</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.DiagnosingTwoEyes,
                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "Eg: Bình thường" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Chuẩn đoán mắt trái:</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.DiagnosingLeftEyes,
                                            new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = true, @placeholder = "Eg: Bình thường" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Chuẩn đoán mắt phải:</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.DiagnosingRightEyes,
                                            new { htmlAttributes = new { @class = "form-control", @readonly = true, @type = "text", @placeholder = "Eg: Bình thường" } })
                                    </div>
                                </div>
                                <div style="padding-left:42%;">
                                    <a href="#" title="#" style="color:white" class="btn">Lam moi</a>
                                </div>

                            </div>

                                <!-- Friends -->
                                <div role="tabpanel" class="tab-pane fade" id="tab-item-4">
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="tblData">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">STT</th>
                                                    <th class="text-center">Tên bệnh </th>
                                                    <th class="text-center">Trạng thái </th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in detailRecords.Select((value, index) => new { index = (index + 1), value }))
                                                {
                                                    <tr id="row_@item.value.Id">
                                                        <td class="text-center"><a class="btn-link" href="#">@item.index</a></td>
                                                        <td class="text-center">@item.value.DiseaseName</td>
                                                        @if (item.value.Status)
                                                        {
                                                            <td class="text-center">
                                                                <label class="label label-success" style="font-size: 12px;">Đã kết luận</label>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center">
                                                                <label class="label label-warning" style="font-size: 12px;">Chờ thăm khám</label>
                                                            </td>
                                                        }

                                                        <td class="text-center">
                                                            <button class="btn btn-info" title="Chi tiết"
                                                                    onclick="openRedirect(false, '@item.value.Id')">
                                                                Thuốc
                                                            </button>
                                                            <button class="btn btn-info" title="Chi tiết"
                                                                    onclick="openRedirect(true, '@item.value.Id')">
                                                                Tệp
                                                            </button>
                                                            <a class="btn btn-info" title="Chi tiết"
                                                               href="/account/detailRecord?id=@item.value.Id">
                                                                Chi tiết
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <style type="text/css">

            body {
                margin-top: 40px;
                min-height: 100%;
                background: #ebecf2;
            }

            .userProfileInfo .image {
                position: relative
            }

                .userProfileInfo .image .editImage {
                    position: absolute;
                    bottom: -27px;
                    right: 20px;
                    background: #fe5621;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    font-size: 1.8rem;
                    width: 54px;
                    height: 54px;
                    line-height: 54px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    -moz-background-clip: padding;
                    -webkit-background-clip: padding-box;
                    background-clip: padding-box
                }

                    .userProfileInfo .image .editImage:hover {
                        background: #fe693a
                    }

            .userProfileInfo .box {
                padding: 0
            }

                .userProfileInfo .box .info,
                .userProfileInfo .box .name,
                .userProfileInfo .box .socialIcons {
                    padding: 15px 20px;
                    border-bottom: 1px solid #e6e7ed
                }

                .userProfileInfo .box .socialIcons {
                    border: 0
                }

                .userProfileInfo .box .info > span {
                    margin: 10px 0;
                    display: block;
                    padding: 0 0 0 35px;
                    position: relative
                }

                    .userProfileInfo .box .info > span .fa {
                        position: absolute;
                        left: 5px;
                        top: 4px;
                        color: #9da2a6
                    }

            .boxHeadline {
                margin: 0 0 25px 0;
                font-size: 18px;
                font-size: 1.8rem
            }

                .boxHeadline + .boxHeadlineSub {
                    margin: -18px 0 30px 0
                }

            .boxHeader .boxTitle {
                margin: 22px 0 20px 30px
            }

            .boxHeader .boxHeaderOptions {
                margin: 9px 12px 0 0
            }

                .boxHeader .boxHeaderOptions .btn {
                    color: #9da2a6;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    line-height: 42px;
                    text-align: center;
                    font-size: 24px;
                    font-size: 2.4rem
                }

                    .boxHeader .boxHeaderOptions .btn:active,
                    .boxHeader .boxHeaderOptions .btn:focus,
                    .boxHeader .boxHeaderOptions .btn:hover {
                        background: #f2f9ff;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none
                    }

            .boxHeader.pageBoxHeader .boxHeaderOptions {
                margin: 20px 12px 0 0
            }

            .boxHeader.boxHeaderBorders {
                border-bottom: 1px solid #e6e7ed
            }

            .boxHeader.box {
                padding: 30px
            }

                .boxHeader.box .pageTitle {
                    margin: 0 0 6px 0
                }

                    .boxHeader.box .pageTitle + .breadcrumb {
                        margin: 0
                    }

            .boxTitle {
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 25px 0
            }

            .boxHeadlineSub {
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 400;
                font-style: italic;
                color: #919599;
                margin: 0 0 25px 0;
                line-height: 18px
            }

                .boxHeadlineSub a {
                    color: #fe5621
                }

            .bgTitle {
                background: url(../../img/bg-sharpen.jpg) no-repeat;
                background-size: 100% 100%
            }

                .bgTitle .boxTitle {
                    margin: 0;
                    padding: 22px 30px;
                    color: #fff
                }

            .box {
                background: #fff;
                padding: 30px;
                margin: 0 0 24px 0
            }

                .box.box-without-padding {
                    padding: 0
                }

                .box.box-without-sidepadding {
                    padding: 8px 0
                }

                    .box.box-without-sidepadding .boxTitle {
                        margin-left: 30px
                    }

                .box.box-without-bottom-padding {
                    padding-bottom: 0
                }

                .box .tableWrap {
                    margin: 0 -30px
                }

                .box .table-responsive {
                    width: auto
                }

                .box .panel-group:last-of-type {
                    margin-bottom: 0
                }


            .simpleListings {
                padding: 0;
                margin: 0
            }

                .simpleListings li {
                    list-style-type: none;
                    padding: 0 0 20px 0;
                    margin: 20px 0 0 0;
                    border-bottom: 1px solid #e6e7ed;
                    position: relative
                }

                    .simpleListings li:first-child {
                        margin-top: 0
                    }

                    .simpleListings li:only-child {
                        border-bottom: 0
                    }

                    .simpleListings li .title {
                        font-size: 14px;
                        font-size: 1.4rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin: 0 0 2px 0
                    }

                        .simpleListings li .title span {
                            font-weight: 400;
                            text-transform: none
                        }

                        .simpleListings li .title a:hover {
                            color: #fe5621
                        }

                    .simpleListings li .info {
                        color: #919599;
                        font-style: italic
                    }

                    .simpleListings li p {
                        margin: 7px 0 0 0
                    }

                    .simpleListings li img {
                        margin: 20px 0
                    }

            .userActivities {
                margin-bottom: 25px
            }

                .userActivities + .showMore {
                    margin: 0 0 0 70px
                }

                .userActivities .i {
                    margin-top: 25px;
                    position: relative
                }

                    .userActivities .i:first-child {
                        margin-top: 0
                    }

                    .userActivities .i .image {
                        position: absolute;
                        top: 20px;
                        left: 0
                    }

                    .userActivities .i .activityContent {
                        margin: 0 0 0 70px;
                        border: 1px solid #e6e7ed;
                        min-height: 70px
                    }

                        .userActivities .i .activityContent:after,
                        .userActivities .i .activityContent:before {
                            content: '';
                            left: 48px;
                            top: 40px;
                            border: solid transparent;
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none
                        }

                        .userActivities .i .activityContent:after {
                            border-right-color: #fff;
                            border-width: 12px;
                            margin-top: -12px
                        }

                        .userActivities .i .activityContent:before {
                            border-right-color: #dcdcdc;
                            border-width: 11px;
                            margin-top: -11px
                        }

                .userActivities ul {
                    padding: 20px 25px
                }

                    .userActivities ul li .title {
                        font-size: 16px;
                        font-size: 1.6rem;
                        text-transform: none
                    }

                .userActivities .status li {
                    padding-bottom: 0
                }

                    .userActivities .status li .share {
                        margin: 20px 0 0 0
                    }

                        .userActivities .status li .share a {
                            color: #fe5621;
                            display: inline-block;
                            margin: 0 0 0 20px
                        }

                            .userActivities .status li .share a:first-child {
                                margin: 0
                            }

                            .userActivities .status li .share a .fa {
                                color: #9da2a6;
                                margin: 0 3px 0 0;
                                -webkit-transition: color .3s ease;
                                -moz-transition: color .3s ease;
                                -ms-transition: color .3s ease;
                                -o-transition: color .3s ease
                            }

                            .userActivities .status li .share a:hover .fa {
                                color: #fe5621
                            }

                .userActivities .comments {
                    background: #f5f6fa;
                    border-top: 1px solid #e6e7ed
                }

                    .userActivities .comments li:last-child {
                        border-bottom: 0;
                        padding-bottom: 0
                    }

                    .userActivities .comments li .image {
                        position: absolute;
                        left: 0;
                        top: 0
                    }

                        .userActivities .comments li .image img {
                            margin: 0
                        }

                    .userActivities .comments li .c {
                        margin: 0 0 0 70px
                    }

                        .userActivities .comments li .c .form-control {
                            border-left: 1px solid #e6e7ed;
                            padding: 10px 18px;
                            margin: 0 0 10px 0
                        }

                            .userActivities .comments li .c .form-control:focus {
                                border-color: #e6e7ed
                            }

                    .userActivities .comments li.showComments {
                        border-bottom: 0;
                        padding: 0;
                        margin: 0 0 15px 0
                    }

                        .userActivities .comments li.showComments .fa {
                            color: #9da2a6;
                            margin: 0 3px 0 0
                        }

                        .userActivities .comments li.showComments a:hover {
                            color: #fe5621
                        }
        </style>

        <script type="text/javascript">

        </script>
    </body>
</html>
<!-- end main-content -->
@section Scripts {
    <script>
        function openRedirect(isFile, id) {
            if (isFile) {
                window.location.href = `/record/Attachment?detailRecordId=${id}`;
            } else {
                window.location.href = `/record/Prescription?detailRecordId=${id}`;
            }
        }
    </script>
    }