﻿@using BELibrary.Entity
@{
    var doctors = (List<Doctor>)ViewBag.Doctors ?? new List<Doctor>();
    var latestPosts = (List<Article>)ViewBag.LatestPosts ?? new List<Article>();
    var facultys = (List<Faculty>)ViewBag.Faculty ?? new List<Faculty>();
}
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Chào mừng đến HuCare</h1>
        <h2>Thấu hiểu nỗi đau - Niềm tin của bạn</h2>
        <a href="#about" style="text-decoration:none" class="btn-get-started scrollto">Bắt đầu</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Tại sao lại chọn HuCare?</h3>
                        <p>
                            Là một bệnh viện cùng tầm nhìn đạt chuẩn quốc tế. Bệnh viện phấn đấu nâng cao chất lượng chuyên môn và chất lượng dịch vụ, đáp ứng mong đợi của người dân trong và ngoài nước. Bệnh viện mong muốn mỗi người dân khi đến khám chữa bệnh luôn nhận được chất lượng dịch vụ y tế tốt nhất và vượt sự mong đợi.
                        </p>
                        <div class="text-center">
                            <a href="#" style="text-decoration:none" class="more-btn">Đọc thêm <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>AN TOÀN</h4>
                                    <p>Bệnh viện thực hiện quản lý chất lượng, cam kết cung cấp dịch vụ y tế với mức độ an toàn cao nhất, phòng ngừa các nguy cơ rủi ro cho người bệnh và nhân viên y tế.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>HIỆU QUẢ</h4>
                                    <p>
                                        Đảm bảo sử dụng đúng chỉ định các kỹ thuật chẩn đoán và điều trị hiện đại, chất lượng cao, đáp ứng mọi nhu cầu về điều trị và chăm sóc sức khỏe của người bệnh.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>CẢI TIẾN LIÊN TỤC</h4>
                                    <p>Chủ động, sáng tạo, tích cực đầu tư và triển khai ứng dụng các kỹ thuật mới; không ngừng cải tiến chất lượng Bệnh viện nhằm tiến tới đạt tiêu chuẩn của Bộ y tế và các nước tiên tiến trong khu vực.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= About Section ======= -->

    <section id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>Tổng quan bệnh viện</h3>
                    <p>
                        Với 27 năm hình thành và phát triển, Bệnh viện HuCare là địa chỉ chăm sóc sức khỏe uy tín của hàng triệu người bệnh. Bệnh viện luôn nỗ lực phát huy những giá trị cốt lõi bền vững, đó là:
                        TIÊN PHONG trong điều trị người bệnh, nghiên cứu khoa học, đào tạo và quản trị;
                        THẤU HIỂU nỗi đau về thể xác lẫn tinh thần của người bệnh để đưa ra những giải pháp điều trị tối ưu;
                        Giữ vững sự CHUẨN MỰC của người Thầy giáo – Thầy thuốc, luôn là tấm gương sáng để thế hệ tiếp nối noi theo;
                        Quản lý chất lượng, đảm bảo AN TOÀN cho người bệnh và nhân viên y tế.
                    </p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="" style="text-decoration:none">Lịch sử hình thành</a></h4>
                        <div class="collapse mt-4" id="boxnoidung">
                            <div>
                                <p class="description">
                                    Năm 1997: Ra đời với tên gọi HuCare chính thức xuất hiện trên nền y tế nước nhà với tiền thân là Phòng Khám Đa Khoa Lý Thường Kiệt – 1A Lý Thường Kiệt, Phường 7, Quận Tân Bình, Tp.HCM. Phòng Khám đầu tiên của Thành phố Hồ Chí Minh.
                                </p>                                   .
                                <p class="description">
                                    Năm 1999: Thành Lập
                                    Bệnh viện đa khoa HuCare đầu tiên ra đời và tọa lạc tại 124 Trần Quốc Thảo, Phường 7, Quận 3, Tp.HCM – Bệnh viện đa khoa tư nhân đầu tiên trên Thành phố Hồ Chí Minh..
                                </p>
                                <p class="description">
                                    Năm 2002: Mở Rộng

                                    Bệnh viện đa khoa Hoàn Mỹ (cơ sở II) được thành lập ở số 4 Hoàng Việt, Phường 4, Quận Tân Bình.

                                </p>
                                <p class="description">
                                    Năm 2011: Phát Triển

                                    Bệnh viện HuCare Sài Gòn gia nhập Tập Đoàn Quốc Tế Fortis. Chính thức đổi tên Bệnh viện đa khoa Hoàn Mỹ thành Bệnh viện Đa khoa HuCare Sài Gòn và dời cơ sở 1 từ 124 Trần Quốc Thảo, Phường 7, Quận 3, Tp.HCM về 60-60A Phan Xích Long, Phường 1, Quận Phú Nhuận, Tp.HCM.
                                </p>
                                <p class="description">
                                    Năm 2013: Bền Vững

                                    Bệnh viện đa khoa Hoàn Mỹ Sài Gòn gia nhâp Tập Đoàn Clermont phát triển thành Tập Đoàn Y Khoa Hoàn Mỹ (Việt Nam) với hệ thống trải dài từ miền Trung đến miền Nam với 08 bệnh viện và 01 Phòng khám.
                                </p>
                                <p class="description">Năm 2014 - Nay: Bệnh Viện Hoàn Mỹ Sài Gòn không ngừng đầu tư các trang thiết bị mới; với hi vọng mỗi khách hàng đều được tiếp cận với sự chăm sóc y tế hoàn mỹ với mức giá hợp lý. </p>
                            </div>
                        </div>
                        <div style="text-align: center; font-size: 30px">
                            <a href="#boxnoidung" onclick="change(this)" aria-expanded="false" data-toggle="collapse"><i class="bx bx-chevron-down icon-show"></i></a>
                        </div>
                    </div>






                    <script>
                        function change(x) // no ';' here
                        {
                            x.classList.toggle("bx bx-chevron-up icon-close");
                        }
                    </script>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="" style="text-decoration:none">Thành tựu</a></h4>
                        <p class="description">
                            Bệnh viện HuCare đạt Giải Thành tựu Y khoa Việt Nam 2021
                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="" style="text-decoration:none">Nghiên cứu</a></h4>
                        <p class="description">
                            Nghiên cứu khoa học là 1 trong 7 chức năng của bệnh viện được Bộ Y tế quy định. Cùng với việc hoàn thành tốt nhiệm vụ then chốt là điều trị, HuCare luôn đề cao việc nghiên cứu khoa học để thúc đẩy, nâng cao chất lượng khám chữa bệnh.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="@doctors.Count()" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Bác sĩ</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="@facultys.Count()" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Khoa</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Phòng thí nghiệm</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Giải thưởng</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Dịch vụ</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4><a href="" style="text-decoration:none">Khám và tầm soát sức khỏe</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pills"></i></div>
                        <h4><a href="" style="text-decoration:none">Dịch vụ nội trú</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h4><a href="" style="text-decoration:none">Bảo hiểm y tế</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-dna"></i></div>
                        <h4><a href="" style="text-decoration:none">Giải đáp và tư vấn</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-wheelchair"></i></div>
                        <h4><a href="" style="text-decoration:none">Vận chuyển bằng xe cứu thương</a></h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-notes-medical"></i></div>
                        <h4><a href="" style="text-decoration:none">Tư vấn sử dụng thuốc</a></h4>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Đặt lịch khám bệnh</h2>
                <p>Lịch đặt có hiệu lực sau khi có xác nhận chính thức từ HuCare</p>
                <p>Trong trường hợp cung cấp sai thông tin email & điện thoại, việc xác nhận cuộc hẹn sẽ không hiệu lực.</p>
                <p> Quý khách sử dụng dịch vụ đặt hẹn trực tuyến, xin vui lòng đặt trước ít nhất là 24 giờ trước khi đến khám.</p>
            </div>

            <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Họ tên" data-rule="minlen:4" data-msg="Vui lòng nhập trên 4 ký tự">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Vui lòng nhập email hợp lệ">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Số điện thoại" data-rule="minlen:4" data-msg="Vui lòng nhập trên 4 ký tự">
                        <div class="validate"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group mt-3">
                        <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Ngày đặt lịch" data-rule="minlen:4" data-msg="Vui lòng nhập trên 4 ký tự">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3">
                        <select name="department" id="department" class="form-select">
                            <option value="">Chọn khoa</option>
                            @foreach (var faculty in facultys)
                            {
                                <option value="@faculty.Name">@faculty.Name</option>
                            }
                        </select>
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3">
                        <select name="doctor" id="doctor" class="form-select">
                            <option value="">Chọn bác sĩ</option>
                            @foreach (var doctor in doctors)
                            {
                                <option value="@doctor.Name">@doctor.Name</option>
                            }
                        </select>
                        <div class="validate"></div>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Ghi chú (không bắt buộc)"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Đăng ký khám</button></div>
            </form>

        </div>
    </section><!-- End Appointment Section -->
    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
        <div class="container">

            <div class="section-title">
                <h2>Phòng chức năng</h2>
            </div>

            <div class="row gy-4">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Phòng kế hoạch tổng hợp - Chỉ đạo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Phòng tổ chức Cán bộ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Phòng Hành chính quản trị</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Phòng Tài chính Kế toán </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Phòng Vật tư TTB Y tế</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Phòng Điều dưỡng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Phòng Quản lý chất lượng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Phòng Công nghệ thông tin</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng kế hoạch tổng hợp - Chỉ đạo</h3>
                                    <p class="fst-italic">Được hình thành từ khi thành lập bệnh viện trong thời gian kháng chiến chống Mỹ. Tiền thân là phòng Y vụ.</p>
                                    <p>Phòng Kế hoạch Tổng hợp là phòng nghiệp vụ chịu sự lãnh đạo trực tiếp của Giám Đốc bệnh viện; có trách nhiệm điều hoà kế hoạch hoạt động của các khoa phòng; đôn đốc và kiểm tra thực hiện các qui chế chuyên môn trong bệnh viện; giúp Giám Đốc tổ chức chỉ đạo công tác nghiệp vụ chuyên môn toàn bệnh viện.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-kehoachtonghopchidaotuyen.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng tổ chức cán bộ</h3>
                                    <p>
                                        - Căn cứ vào nhiệm vụ chung của Bệnh viện, lập kế hoạch tổ chức bộ máy, sắp xếp nhân lực, đề xuất tuyển nhân lực để trình Giám đốc xét duyệt và tổ chức thực hiện.
                                    </p>
                                    <p>
                                        - Tổ chức thực hiện công tác cán bộ, quản lý hồ sơ lý lịch theo phương pháp khoa học, làm thống kê báo cáo theo quy định.
                                    </p>
                                    <p>
                                        - Xây dựng lề lối làm việc và quan hệ công tác giữa các khoa phòng, trình Giám đốc Bệnh viện phê duyệt, tổ chức thực hiện.
                                    </p>
                                    <p>
                                        - Tổ chức thực hiện tốt công tác bảo vệ chính trị nội bộ, quan hệ chặt chẽ với các tổ chức Đảng, chính quyền địa phương để phối hợp công tác trong công việc có liên quan.
                                    </p>
                                    <p>
                                        - Tổ chức thực hiện các chế độ chính sách nhà nước, của ngành y tế đối với mọi thành viên trong Bệnh viện.
                                    </p>
                                    <p>

                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-tochuccanbo.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng Hành chính quản trị</h3>
                                    <p>
                                        - Căn cứ kế hoạch công tác của Bệnh viện, Phòng HCQT lập kế hoạch công tác của phòng trình Giám đốc phê duyệt và tổ chức thực hiện.
                                    </p>
                                    <p>
                                        - Lập kế hoạch cung ứng vật tư, trang thiết bị thông dụng cho các khoa, phòng trong bệnh viện theo kế hoạch đã được duyệt, đảm bảo đầy đủ đúng chủng loại, đúng qui định về tài chính.
                                    </p>
                                    <p>
                                        - Tổ chức quản lý có hệ thống các công văn đi và đến của bệnh viện, hệ thống bảo quản lưu trữ hồ sơ theo qui định. Đảm bảo hệ thống thông tin liên lạc của bệnh viện.
                                    </p>
                                    <p>
                                        - Đảm bảo công tác tiếp khách, phục vụ các buổi hội nghị toàn bệnh viện.
                                    </p>
                                    <p>
                                        - Tham gia kiểm tra chế độ bảo quản, sử dụng, vận hành các thiết bị thông dụng của các khoa, phòng trong bệnh viện.
                                    </p>
                                    <p>
                                        - Quản lý nhà cửa, kho tàng, vật tư, thiết bị thông dụng của bệnh viện.
                                    </p>
                                    <p>
                                        Quản lý các phương tiện vận tải của bệnh viện; Điều động xe đi công tác và cấp cứu theo qui định.
                                    </p>
                                    <p>
                                        - Tổ chức, thực hiện việc sửa chữa nhà cửa, duy tu, bảo dưỡng các máy móc thông dụng theo kế hoạch.
                                    </p>
                                    <p>
                                        - Đảm bảo cung cấp đầy đủ nước sạch, cung ứng điện cho khoa, phòng sử dụng.
                                    </p>
                                    <p>
                                        - Đảm bảo công tác trật tự trị an chung trong toàn bệnh viện. Tham gia kiểm tra công tác bảo hộ lao động trong toàn bệnh viện.
                                    </p>
                                    <p>
                                        - Định kỳ báo cáo Giám đốc về việc sử dụng hợp lý vật tư tiêu hao ở các khoa, phòng trong bệnh viện để Giám đốc xét duyệt quyết định việc  khen thưởng, kỷ luật.
                                    </p>
                                    <p>
                                        - Nghiên cứu xây dựng định mức tiêu hao vật tư thông dụng để trình Giám đốc bệnh viện duyệt và tổ chức thực hiện. Kiểm tra đôn đốc việc sử dụng hợp lý, có hiệu quả, chống lãng phí, tham ô.
                                    </p>

                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-hanhchinhquantri.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng tài chính Kế toán</h3>
                                    <p>
                                        - Quản lý công tác tài chính của bệnh viện
                                    </p>
                                    <p>
                                        - Tổ chức và lãnh đạo công tác kế toán
                                    </p>
                                    <p>
                                        - Xây dựng định mức, khoán chi một số nội dung, xây dựng Quy chế chi tiêu nội bộ.
                                    </p>
                                    <p>
                                        - Lập và chấp hành dự toán chi tiêu ngân sách bệnh viện.
                                    </p>
                                    <p>
                                        - Định kỳ báo cáo quyết toán, phân tích tình hình tài chính bệnh viện.
                                    </p>
                                    <p>
                                        - Tổ chức quản lý lưu trữ chứng từ tài liệu kế toán theo quy định.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-tckt.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng Vật tư TTB Y tế</h3>
                                    <p class="fst-italic">Phòng Vật tư Thiết bị Y tế được thành lập ngày 26/6/1998. Tiền thân là tổ bảo trì trực thuộc khoa Dược. Lúc thành lập, phòng gồm 08 CBCNV trong đó gồm 01 Dược sỹ đại học, 01 Dược sỹ.</p>
                                    <p>
                                        - Lập kế hoạch bảo trì bảo dưỡng thiết bị y tế trong bệnh viện theo định kỳ từng quý.
                                    </p>
                                    <p>
                                        - Lập kế hoạch mua sắm mới vật tư , thiết bị theo yêu cầu của các khoa phòng.
                                    </p>
                                    <p>
                                        - Là cơ sở thực tập, đào tạo về chuyên môn sửa chữa và bảo trì thiết bị y tế cho các học viên từ các trường và bệnh viện tuyến dưới.
                                    </p>
                                    <p>
                                        Phòng VTYT, trải qua hơn 14 năm hình thành và phát triển, từ chỗ chỉ sửa chữa những thiết bị cơ điện thông thường như: máy hấp, máy hút, dao mổ điện, máy cất nước, máy đo huyết áp, lồng dưỡng nhi, tủ lưu trữ máu ( phần lớn là hàng viện trợ từ Tân tây Lan, Pháp, Mỹ ) phòng đã tiến lên sửa chữa và bảo dưỡng các thiết bị hiện đại phức tạp như máy X quang, máy thở, máy điện tim, điện não, siêu âm màu, các thiết bị xét nghiệm. Ðến nay đội ngũ kỹ thuật của phòng đã dần nắm bắt được các thiết bị có tính năng kỹ thuật cao như máy CT, máy mô phỏng, máy xạ trị gia tốc thẳng, máy MRI, máy DSA, máy chạy thận nhân tạo, các thiết bị chẩn đoán và điều trị nội soi…
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-vtyt.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-6">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng Điều dưỡng</h3>
                                    <p class="fst-italic">Năm 1992, được sự đồng ý của Sở Y tế TPHCM và Ban Giám đốc Bệnh viện, Phòng Điều dưỡng được thành lập.</p>
                                    <p>
                                        - Chịu trách nhiệm trước Giám đốc về tổ chức, điều hành và giám sát công tác chăm sóc người bệnh.
                                    </p>
                                    <p>
                                        - Phối hợp với các phòng chức năng tổ chức thực hiện công tác chăm sóc người bệnh.
                                    </p>
                                    <p>
                                        - Tổ chức đào tạo nâng cao kiến thức và kỹ năng trong chăm sóc, giao tiếp cho hệ chăm sóc. Kiểm tra tay nghề cho hệ chăm sóc khi được tuyển dụng.
                                    </p>
                                    <p>
                                        - Tham gia nghiên cứu khoa học Điều dưỡng.
                                    </p>
                                    <p>
                                        - Phối hợp thực hiện các chương trình của Hội điều dưỡng Việt Nam và Hội Điều dưỡng tỉnh Bình Định trong lĩnh vực chăm sóc và quản lý điều dưỡng.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-dieuduong.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-7">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng Quản lý chất lượng</h3>
                                    <p class="fst-italic">Được thành lập từ ngày 01/02/2015.</p>
                                    <p>Phòng Quản lý chất lượng là phòng nghiệp vụ chịu sự lãnh đạo trực tiếp của Giám Đốc bệnh viện; có trách nhiệm điều hoà kế hoạch hoạt động của các khoa phòng; đôn đốc và kiểm tra thực hiện các tiêu chí trong Bộ tiêu chí đánh giá chất lượng Bệnh viện; giúp Giám Đốc tổ chức chỉ đạo công tác về nâng cao chất lượng khám, chữa bệnh trong toàn bệnh viện.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-qlcl.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-8">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phòng Công nghệ thông tin</h3>
                                    <p class="fst-italic">Phòng Công nghệ thông tin, chính thức triển khai hoạt động từ ngày 01/8/2016, tiền thân là Tổ Tin học trực thuộc Phòng Kế hoạch tổng hợp.</p>
                                    <p>Phòng Công nghệ thông tin của Bệnh viện là phòng nghiệp vụ chịu sự lãnh đạo trực tiếp của Giám đốc Bệnh viện và chịu trách nhiệm trước giám đốc về ứng dụng và phát triển công nghệ thông tin trong mọi hoạt động của Bệnh viện.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/assets/img/departments/phong-cntt.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Departments Section -->
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">

            <div class="section-title">
                <h2>Bác sĩ</h2>
                <p>Nơi hội tụ các bác sĩ có trình độ chuyên môn cao, cùng với các kĩ thuật khoa học công nghệ tiên tiến giúp quá trình chữa trị cho bệnh nhân được hoàn hảo hơn.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="@doctors[0].Avatar" class="img-fluid" alt="" width="170px" height="80px"></div>
                        <div class="member-info">
                            <h4>@doctors[0].Name</h4>
                            <span>@doctors[0].Faculty.Name</span>
                            <p>@doctors[0].Descriptions</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="@doctors[1].Avatar" class="img-fluid" width="170px" height="80px" alt=""></div>
                        <div class="member-info">
                            <h4>@doctors[1].Name</h4>
                            <span>@doctors[1].Faculty.Name</span>
                            <p>@doctors[1].Descriptions</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>Cardiology</span>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Neurosurgeon</span>
                            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Doctors Section -->

    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">

            <div class="section-title">
                <h2>Hiệu quả điều trị cao</h2>
                <p>Ứng dụng kỹ thuật tiên tiến, phác đồ chuyên biệt, tăng tỷ lệ thành công.</p>
                <p>Sở hữu hệ thống trang thiết bị cao cấp, hàng đầu thế giới trong chẩn đoán và điều trị</p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                            <img src="~/assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                            <img src="~/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                            <img src="~/assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                            <img src="~/assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                            <img src="~/assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                            <img src="~/assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                            <img src="~/assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                            <img src="../assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Gallery Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Liên hệ với chúng tôi</h2>
            </div>
        </div>

        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1251208102735!2d106.71230301462275!3d10.801727892304376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVFAuSENNIC0gSFVURUNI!5e0!3m2!1svi!2s!4v1646644854925!5m2!1svi!2s" width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="container">
            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Địa chỉ:</h4>
                            <p>475A Điện Biên Phủ, Phường 25, Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>huCare@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Điện thoại:</h4>
                            <p>1800 8088</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Họ tên" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Chủ đề" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Tin nhắn" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Gửi</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
