﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Assets//img/favicon.png" rel="icon">
    <link href="~/Assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Assets/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2bce3898fc.js" crossorigin="anonymous"></script>
    <link href="~/Content/theme/img/yte.png" rel="icon">

    <link rel="stylesheet" href="~/Content/theme/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/theme/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/theme/plugins/fontawesome/css/all.min.css">

    <link href="~/Content/alertify/alertify.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/theme/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">

    <link href="~/Content/plugin/notifyjs/lobibox.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/Assets/css/style.css" rel="stylesheet">
    @RenderSection("CSS", required: false)
    <!-- =======================================================
    * Template Name: Medilab - v4.7.1
    * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- Header -->
    @Html.Partial("_PartialHeader")

    <!-- Start main-content -->

    @RenderBody()

    <div class="clearfix"></div>
    <!-- Footer -->
    @Html.Partial("_PartialFooter")

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Scripts/js/base/common.js"></script>
    <script src="~/Content/plugin/notifyjs/lobibox.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        var scrollButton = $(".Scroll-up");
        $(window).on("scroll", function () {
            if ($(this).scrollTop() >= 500) {
                scrollButton.show();
            } else {
                scrollButton.hide();
            }
        });
        scrollButton.on("click",
            function () {
                $("html,body").animate({
                    scrollTop: 0
                },
                    1e3);
            });

        function getDataDoctor(doctorId) {

            ajax.get(`/doctor/getJson`,
                { id: doctorId },
                (response) => {
                    if (response.status) {
                        const obj = response.data;
                        if (obj) {
                            $("#ImgAvt").attr("src", obj.Avatar);
                            $(".link-to-detail-doctor").attr("href", `/doctor/detail?id=${obj.Id}`);
                            $("#doctor-name").text(obj.Name);
                            $("#doctor-id").val(obj.Id);
                            $("#doctor-address").text(obj.Address);


                            $("#exampleModal").modal('show');
                        }
                    }
                },
                (jqXhr, textStatus) => {
                    const mess = `Request failed: ${textStatus}`;
                    Lobibox.alert("error", {
                        msg: "Vui lòng đăng nhập"
                    });
                }
            );
        }

        function bookNow(doctorId) {
            getDataDoctor(doctorId);
        }

        function saveBooking() {

            var formData = new FormData(document.getElementById('form-book-doctor'));
            ajax.createOrUpdate(`/doctor/book`,
                formData,
                (response) => {
                    if (response.status) {
                        Lobibox.alert("success", {
                            msg: response.mess
                        });

                    } else {
                        Lobibox.alert("error", {
                            msg: response.mess
                        });
                    }
                },
                (jqXhr, textStatus) => {
                    const mess = `Request failed: ${textStatus}`;
                    Lobibox.alert("error", {
                        msg: mess
                    });
                }
            );
        }
    </script>
</body>

</html>