﻿@using BELibrary.Entity
@using PatientManagement.Handler
<!-- Header ================================================== -->
@{
    var user = CookiesManage.GetUser() ?? new Account();
}


<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">huCare@gmail.com</a>
            <i class="bi bi-phone"></i> +(84.28)3855 4444
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">


        <h1 class="logo me-auto"><a href="/">HuCare</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="/#hero">Trang chủ</a></li>
                <li><a class="nav-link scrollto" href="/#about">Giới thiệu</a></li>
                <li><a class="nav-link scrollto" href="/#services">Dịch vụ</a></li>
                <li><a class="nav-link scrollto" href="/#departments">Phòng ban</a></li>
                <li><a class="nav-link scrollto" href="/#doctors">Bác sĩ</a></li>
                <li class="dropdown">
                    <a href="#"><span>Sự kiện</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Tin tức</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Y tế</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Cộng đồng người bệnh</a></li>
                        <li><a href="#">Hội nghị - Hội thảo</a></li>
                        <li><a href="#">Chương trình tư vấn</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/#contact">Liên hệ</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="/#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Đặt lịch</span> khám bệnh</a>
        @if (!CookiesManage.Logined())
        {
            <a href="/account/login" class="appointment-btn scrollto">Đăng nhập <i class="fa-solid fa-right-to-bracket"></i></a>

        }
        else
        {
            <div class="dropdown123">
                <a href="/account" class="dropbtn123"><i class="fa-regular fa-circle-user"></i></a>
                <div class="dropdown123-content">
                    <a href="/account">@user.FullName</a>
                    <a href="/account/edit">Thay đổi thông tin</a>
                    <a href="/account/logout">Đăng xuất  <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
        }

    </div>
</header><!-- End Header -->
<!-- End Header -->

