﻿<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>HuCare</h3>
                    <p>
                        475A Điện Biên Phủ, Phường 25 <br>
                        Quận Bình Thạnh - Thành phố Hồ Chí Minh<br>
                        Việt Nam <br><br>
                        <strong>Phone:</strong> 1800 8088<br>
                        <strong>Email:</strong> huCare@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Đường dẫn nhanh</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Giới thiệu</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Phòng ban</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Đội ngũ bác sĩ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Sự kiện</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Hệ thống bệnh viện</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chuyên gia</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chuyên gia - Bác sĩ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chuyên mục bệnh học</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tăng huyết áp</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Thời gian làm việc</h4>
                    <p>T2-T7     7:30 - 17:00</p>  
                    <p>CN     Đóng cửa</p>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>HuCare</span></strong>. Bản quyền thuộc về Bệnh viên đa khoa HuCare
            </div>

        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->
